# Based on https://github.com/gitattributes/gitattributes

# Auto detect text files and perform LF normalization
*								text=auto	eol=lf

# The above will handle all files NOT found below

# Tool configuration
## Git
.gitattributes					text
.gitignore						text

## Others
.all-contributorsrc				text
.editorconfig					text
.envrc							text
devenv.lock						text	linguist-generated	linguist-language=JSON

# Documents
## Plain text
*.md							text	linguist-detectable

# Media
## Audio
*.flac							binary
*.ogg							binary

## Fonts
*.eot							binary
*.ttf							binary
*.woff							binary

## Graphics
*.png							binary
*.jpg							binary
*.svg							text

## Video
*.mkv							binary
*.webm							binary

# Data
*.json							text
*.nix							text
*.yaml							text

# Code
